@CHARSET "UTF-8";
body {
	background-color: rgb(201,115,39);
	color: beige;
}

/*Header*/
header {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

h1 {
	color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 0.3px;
   -webkit-text-stroke-color: black;
	font-size:3em;
}

h3 {
	font-size: 1.2em;
	color: red;
}

/*Patients Div*/
#patients {
	background-color: rgb(214,222,198);
	border-radius: 25px;
    padding: 20px;
    border: black 2px solid;
    color: black;
}
